# Dependency directories
node_modules/

# Optional npm/yarn cache directory
.npm
.yarn

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# nuxt.js build output
.nuxt
.output

# Nuxt generate
dist

# IDE / Editor
.idea

# Service worker
sw.*

# macOS
.DS_Store