@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import 'open-props/style';
@import 'open-props/normalize';
@import 'open-props/buttons';

html {
  /* light */
  --brand-light: var(--cyan-6);

  /* dark */
  --brand-dark: var(--cyan-3);
  --link-dark: var(--gray-0);
}

:root {
  color-scheme: light;

  --brand: var(--brand-light);
  --font-sans: Lato, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
  --header-height: 64px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --link: var(--link-dark);

    --text-1: var(--gray-1);
    --text-2: var(--gray-4);
    --surface-1: var(--gray-9);
    --surface-2: var(--gray-8);
    --surface-3: var(--gray-7);
    --surface-4: var(--gray-6);
  }
}

[data-theme='light'] {
  color-scheme: light;

  --brand: var(--brand-light);
}

[data-theme='dark'] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --link: var(--link-dark);
  --text-1: var(--gray-1);
  --text-2: var(--gray-4);
  --surface-1: var(--gray-9);
  --surface-2: var(--gray-8);
  --surface-3: var(--gray-7);
  --surface-4: var(--gray-6);
}
